@keyframes colorChange {
  0% { background-color: #99CC05; }
  50% { background-color: #414141; }
  100% { background-color: #99CC05; }
}
.titulo-pagina {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: justify;
}

/*CSS DE HOME.JSX*/

/*CSS DE ORIGEN.JSX*/
.card-origen{
  max-width: 90%;
  margin: 0 auto; 
  margin-top: 30px;
}
.origen{
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 10px;
  background-color: #99CC05;
  animation: colorChange 5s infinite;
}

/*CSS DE ADIESTRAMIENTO.JSX*/

/*CSS DE CONTACTO.JSX*/
a:link, a:visited, a:active {
  text-decoration: none;
  color: black;
}

.redessociales{
  background-color: #99CC05;
  font-weight: bold;
}

.link-underline {
  text-decoration: underline;
}
